.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 30%);
  margin: 0;
  padding: 0;
  width: 100%;
}

.grid-item {
  padding: 0;
  margin: 0;
  aspect-ratio: 1;
}

.bingo-field-label {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding: 0.5rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.bingo-field-label:hover {
  cursor: pointer;
}

.bingo-field-input {
  display: none;
  background: #ff0000;
}

input[type="checkbox"] + .bingo-field-label {
  background: #ffffff;
}
input[type="checkbox"]:checked + .bingo-field-label {
  background: #ff0000;
}
